<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jugvale.cfp.client.local.shared.DateConverter" />
    <exclude name = "org.jugvale.cfp.client.local.shared.Mensagem$Tipo" />
    <exclude name = "org.jugvale.cfp.client.local.shared.NivelConverter" />
    <exclude name = "org.jugvale.cfp.client.local.shared.Validador" />
    <exclude name = "org.jugvale.cfp.client.local.shared.TipoConverter" />
    <exclude name = "org.jugvale.cfp.client.local.shared.Mensagem" />
    <exclude name = "org.jugvale.cfp.client.local.paginas.PaginaSubmeterPaper" />
    <exclude name = "org.jugvale.cfp.client.local.paginas.evento.PaginaDetalhesEvento" />
    <exclude name = "org.jugvale.cfp.client.local.paginas.evento.PaperItemWidget" />
    <exclude name = "org.jugvale.cfp.client.local.paginas.PaginaInscricao" />
    <exclude name = "org.jugvale.cfp.client.local.paginas.paper.PaginaSubmeterPaper" />
    <exclude name = "org.jugvale.cfp.client.local.paginas.paper.FormAutor" />
    <exclude name = "org.jugvale.cfp.client.local.MensagemWidget$CaixaMensagem" />
    <exclude name = "org.jugvale.cfp.client.local.evento.ListaTodosEventos" />
    <exclude name = "org.jugvale.cfp.client.local.evento.EventoItemWidget" />
    <exclude name = "org.jugvale.cfp.client.local.autor.FormAutor" />
    <exclude name = "org.jugvale.cfp.client.local.MensagemWidget" />
    <exclude name = "org.jugvale.cfp.client.local.AppSetup" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>