<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>JUG Vale - Call 4 Papers</display-name>
  <context-param>
    <param-name>resteasy.role.based.security</param-name>
    <param-value>true</param-value>
  </context-param>
  <security-constraint>
    <display-name>Segurança do REST</display-name>
    <web-resource-collection>
      <web-resource-name>rest</web-resource-name>
      <url-pattern>/rest/v1/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMINISTRADOR</role-name>
      <role-name>AUTOR</role-name>
      <role-name>ANONIMO</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>other</realm-name>
  </login-config>
  <security-role>
    <role-name>ADMINISTRADOR</role-name>
  </security-role>
  <security-role>
    <role-name>AUTOR</role-name>
  </security-role>
  <security-role>
    <role-name>ANONIMO</role-name>
  </security-role>
  <servlet>
    <servlet-name>RESTEasy JSAPI</servlet-name>
    <servlet-class>org.jboss.resteasy.jsapi.JSAPIServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RESTEasy JSAPI</servlet-name>
    <url-pattern>/rest-js</url-pattern>
  </servlet-mapping>
</web-app>